body {
	background-color: #8000FF;
}

@media screen and (max-width: 1080px) {
	body {
		background-color: #0B0B61;
	}
}

@media screen and (max-width: 550px) {
	body {
		background-color: #FF00BF;
	}
}

@media screen and (max-wdith:400px) {
	body {
		background-color: #74DF00;
	}
}